---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import logoColor from '~/assets/images/logos/noBgColor.svg';
import logoWhite from '~/assets/images/logos/noBgWhite.svg';
import logoBlack from '~/assets/images/logos/noBgBlack.svg';
---

<div class="flex items-center">
  <Image
    src={logoColor}
    alt={SITE?.name || 'CTO4.AI'}
    width={120}
    height={40}
    class="h-8 w-auto dark:hidden"
  />
  <Image
    src={logoWhite}
    alt={SITE?.name || 'CTO4.AI'}
    width={120}
    height={40}
    class="h-8 w-auto hidden dark:block"
  />
</div>
